@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  background-color: #f6f6ed;
}

@font-face {
  font-family: "Gordita";
  src: url("/Gordita-Regular.otf");
}

@font-face {
  font-family: "Gordita-Light";
  src: url("/Gordita-Light.otf");
}
